<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Task</title>
</head>
<body>
	<h1 th:text="${project.name}"></h1>
	<h2 title="Add a new project">Add Task</h2>

	<form th:action="@{/tasks}" th:object="${taskCreationDto}" method="post">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{projectId}">
		<label for="name">Name</label> <input type="text" th:field="*{name}">
		<input type="submit" value="Save Task">
	</form>

</body>
</html>