<html xmlns:th="http://www.Thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Projects</title>
</head>
<body>
	<div style="float:right;text-align:right" sec:authorize="isAuthenticated()">
      Authenticated as <span sec:authentication="name"></span><br/><span sec:authentication="principal.authorities"></span></div>
	<h1>Project Listing</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}">
				<td th:text="${project.name}"></td>
				<td><a th:href="@{/projects/{id}/edit(id=${project.id})}">Edit</a>
					<a th:href="@{/projects/{id}(id=${project.id})}">Show</a> <a
					href="#">Remove</a></td>
			</tr>
		</tbody>
	</table>

	<p>
		<a th:href="@{/projects/new}">New Project</a>
	</p>
</body>