<html xmlns:th="http://www.Thymeleaf.org">
<head>
<title>Project</title>
</head>
<body>
	<h1 th:text="${project.name}"></h1>
	<h2>Progress</h2>
	<div>
	Project progress = <span th:text="${project.projectProgress * 100}"></span> %
	</div>
	<h2>Tasks</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Assignee</th>
				<th>Date Start</th>
				<th>Date Finish</th>
				<th>MD</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${project.tasks}">
				<td><a th:text="${task.name}" th:href="@{/tasks/{id}(id=${task.id})}"></a></td>
				<td th:text="${task.assignee}"></td>
				<td th:text="${task.startDateTime}"></td>
				<td th:text="${task.finishDateTime}"></td>
				<td th:text="${task.manDay}"></td>
				<td>
					<a th:href="@{/tasks/{id}/start(id=${task.id})}">Start</a>&nbsp;
					<a th:href="@{/tasks/{id}/finish(id=${task.id})}">Finish</a>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		<a th:href="@{/tasks/new(project_id=${project.id})}">New Task</a><br/>
		<a href="/projects">Back</a>
	</p>
</body>